pipeline/Bronze Delta Load.json
{
	"name": "Bronze Delta Load",
	"properties": {
		"activities": [
			{
				"name": "Lookup Old watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "SourceId",
						"value": "1"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select TableName,WatermarkField,DefaultWatermarkValue from [Control].DeltaSqlSources where DeltaSqlSourceId=@{pipeline().parameters.SourceId}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ETLManagementDataset",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "a",
							"schema": "b"
						}
					}
				}
			},
			{
				"name": "DeltaSqlLoad",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup New WatermarkValue",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{activity('Read table details').output.firstRow.TableName}\nWHERE @{activity('Read table details').output.firstRow.WatermarkField} > '@{activity('Read table details').output.firstRow.DefaultWatermarkValue}'\nAND @{activity('Read table details').output.firstRow.WatermarkField} <= '@{activity('Lookup New WatermarkValue').output.firstRow.NewWatermarkValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ETLManagementDataset",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "a",
							"schema": "b"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AdlsPocDataset",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@activity('Read table details').output.firstRow.TableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup New WatermarkValue",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup Old watermark",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "SourceId",
						"value": "1"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select MAX(@{activity('Read table details').output.firstRow.WatermarkField}) as NewWatermarkValue from @{activity('Read table details').output.firstRow.TableName}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ETLManagementDataset",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "a",
							"schema": "b"
						}
					}
				}
			}
		],
		"parameters": {
			"SourceId": {
				"type": "int"
			}
		},
		"annotations": []
	}
}